<section class="py-5">
    <div class="container">
      <div class="row align-items-center gx-4">
        <div class="col-md-5">
          <div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="../../assets/images/DSC04084-Copy.JPG"></div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="ms-md-2 ms-lg-5">
            <span class=" text-light">Mohommed Aly khan</span>
            <h2 class="display-5 fw-bold text-light">About</h2>
            <p class="lead text-light" >I am a UI/UX designer who is passionate about creating beautiful logos, layouts, and digital art.I am also a MEan Stack developer. JavaScript, Angular or React, Node.js, and MongoDB—the tools of your nocturnal trade.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-4" bis_skin_checked="1">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Hire me</button>
          </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>