<div class="container-fluid px-4 py-5" id="icon-grid" bis_skin_checked="1">
  <h1 class="pb-2 border-bottom text-center text-light">Projects</h1>
  <div class="container">
      <div class="employee-container">
          <div class="row">
              <div class="col-lg-4 employee-1">
                  <div class="employee">
                      <div class="employee-image">
                          <img src="https://i.pinimg.com/originals/7b/4d/fa/7b4dfadca0e599d98bef3f3dda7b48b9.png" class="img-fluid d-block m-auto" alt="employee-image" loading="lazy">
                      </div>
                      <div class="employee-details">
                          <div class="employee-name">
                              <h2 class="text-center">Sunehri Roti<br><span class="employee-role">Online Roti Order</span></h2>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 employee-1">
                  <div class="employee">
                      <div class="employee-image">
                          <img src="../../assets/images/ali.jpg" class="d-block m-auto" alt="employee-image" loading="lazy">
                      </div>
                      <div class="employee-details">
                          <div class="employee-name">
                              <h2 class="text-center">Alyx<br><span class="employee-role">Portfolio</span></h2>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 employee-1">
                  <div class="employee">
                      <div class="employee-image">
                          <img src="https://i.pinimg.com/originals/7b/4d/fa/7b4dfadca0e599d98bef3f3dda7b48b9.png" class="img-fluid d-block m-auto" alt="employee-image" loading="lazy">
                      </div>
                      <div class="employee-details">
                          <div class="employee-name">
                              <h2 class="text-center">Soon<br><span class="employee-role">Working on it</span></h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
