
<app-nav-bar (navigate)="smoothScroll($event)"></app-nav-bar>
<app-background></app-background>
<div id="home">
  <!-- Home content here -->
   <app-home></app-home>
</div>
<div id="about">
  <!-- About content here -->
   <app-about></app-about>
</div>
<div id="contact">
  <!-- Contact content here -->
   <app-contact></app-contact>
</div>
<div id="skills">
  <!-- Skills content here -->
   <app-skills></app-skills>
</div>
<div id="artworks">
  <!-- Artworks content here -->
   <app-artwork></app-artwork>
</div>
<div id="projects">
  <!-- Projects content here -->
   <app-projects></app-projects>
</div>

<app-footer></app-footer>
