
<div class="container-fluid px-4 py-5" id="icon-grid" bis_skin_checked="1">
    <h1 class="pb-2 border-bottom text-center text-light">Artworks</h1>
  <div class="gallery-image">
    <div class="img-box">
      <img src="../../assets/images/batman 2.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Gotham City</p>
          <p class="opacity-low">logo Design</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/balance.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>The Balance</p>
          <p class="opacity-low">Geometric Art</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/fall to the end.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Fall to end End</p>
          <p class="opacity-low">Art</p>
        </div>
      </div>
    </div>
    <div class="img-box">
      <img src="../../assets/images/life cycle.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Life Cycle</p>
          <p class="opacity-low">Geometric Art</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/fall of good times.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>Good and Evil</p>
          <p class="opacity-low">Geometric Art</p>
        </div>
      </div> 
    </div>
    <div class="img-box">
      <img src="../../assets/images/chains on me.jpg" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>the Trap</p>
          <p class="opacity-low">art</p>
        </div>
      </div> 
    </div>
  </div>
