<div class="container-fluid px-4 py-5" id="icon-grid" bis_skin_checked="1">
  <h1 class="pb-2 border-bottom text-center text-light">Artworks</h1>
  <div class="gallery-image">
      <div class="img-box">
          <img src="../../assets/images/batman 2.jpg" alt="Gotham City" loading="lazy" />
          <div class="transparent-box">
              <div class="caption">
                  <p>Gotham City</p>
                  <p class="opacity-low">Logo Design</p>
              </div>
          </div> 
      </div>
      <div class="img-box">
          <img src="../../assets/images/balance.jpg" alt="The Balance" loading="lazy" />
          <div class="transparent-box">
              <div class="caption">
                  <p>The Balance</p>
                  <p class="opacity-low">Geometric Art</p>
              </div>
          </div>
      </div>
      <div class="img-box">
          <img src="../../assets/images/fall to the end.jpg" alt="Fall to the End" loading="lazy" />
          <div class="transparent-box">
              <div class="caption">
                  <p>Fall to the End</p>
                  <p class="opacity-low">Art</p>
              </div>
          </div>
      </div>
      <div class="img-box">
          <img src="../../assets/images/life cycle.jpg" alt="Life Cycle" loading="lazy" />
          <div class="transparent-box">
              <div class="caption">
                  <p>Life Cycle</p>
                  <p class="opacity-low">Geometric Art</p>
              </div>
          </div> 
      </div>
      <div class="img-box">
          <img src="../../assets/images/fall of good times.jpg" alt="Good and Evil" loading="lazy" />
          <div class="transparent-box">
              <div class="caption">
                  <p>Good and Evil</p>
                  <p class="opacity-low">Geometric Art</p>
              </div>
          </div> 
      </div>
      <div class="img-box">
          <img src="../../assets/images/chains on me.jpg" alt="The Trap" loading="lazy" />
          <div class="transparent-box">
              <div class="caption">
                  <p>The Trap</p>
                  <p class="opacity-low">Art</p>
              </div>
          </div> 
      </div>
  </div>
</div>
