<header class="hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">Mohommed Aly Khan</h1>
      <p class="hero-description">
        Hey, I'm a graphic designer and frontend engineer. I specialize in crafting visually stunning websites that are both user-friendly and functional. Let's collaborate to bring your vision to life!
      </p>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/contact"  (click)="smoothScroll('contact')">Work with me</button>
    </div>
    <div class="hero-image-wrapper">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/28c6e3646d0472e3f125ab9d593f69a3363ebad675e182ba22d8a843533704d1?placeholderIfAbsent=true&apiKey=93ffb80aa86742b386c20b92d492619e" 
        alt="Mohommed Aly Khan" class="hero-image" />
    </div>
  </div>
</header>
